affine==2.3.0
attrs==19.3.0
backports-abc==0.5
backports.functools-lru-cache==1.5
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cloudpickle==1.2.2
cycler==0.10.0
decorator==4.4.0
enum34==1.1.6
fire==0.2.1
future==0.17.1
futures==3.3.0
idna==2.8
imageio==2.6.1
imantics==0.1.11
joblib==0.14.1
jsonpatch==1.24
jsonpointer==2.0
kiwisolver==1.1.0
lxml==4.4.1
matplotlib==2.2.4
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
networkx==2.2
numpy==1.16.5
olefile==0.46
opencv-python==4.1.1.26
pandas==0.24.2
Pillow==8.1.1
pycparser==2.19
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.3
PyWavelets==1.0.3
pyzmq==18.1.1
rasterio==1.1.0
requests==2.22.0
scikit-image==0.14.5
scipy==1.2.2
Shapely==1.6.4.post2
singledispatch==3.4.0.3
six==1.12.0
snuggs==1.4.7
subprocess32==3.5.4
termcolor==1.1.0
torch==1.3.0
torchfile==0.1.0
torchvision==0.4.1a0+d94043a
tornado==5.1.1
tqdm==4.36.1
urllib3==1.25.7
websocket-client==0.56.0
